@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=National+Park:wght@200..800&family=Tagesschrift&display=swap');

.ant-input {
  border: none;
  margin: 0;
  padding: 0;
  font-family: 'National Park', system-ui;
  font-weight: 400;
  font-style: normal;
  border-radius: 0;
}

.ant-input:focus {
  border: none;
  box-shadow: none;
}

.ant-input-group-addon {
  border: none;
}
