@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=National+Park:wght@200..800&family=Tagesschrift&display=swap');

.ant-input {
  border: none;
  margin: 0;
  padding: 0;
  font-family: 'National Park', system-ui;
  font-weight: 400;
  font-style: normal;
  border-radius: 0;
}

.ant-input:focus {
  border: none;
  box-shadow: none;
}

.ant-input-group-addon {
  border: none;
}

.tiptap p.is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;
  }

  p {
    margin: 0;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 0;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Task list specific styles */
  ul[data-type="taskList"] {
    list-style: none;
    margin-left: 0;
    padding: 0;

    li {
      align-items: flex-start;
      display: flex;

      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }

      > div {
        flex: 1 1 auto;
      }
    }

    input[type="checkbox"] {
      cursor: pointer;
    }

    ul[data-type="taskList"] {
      margin: 0;
    }
  }
}